<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_area :post %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.text_area :startdate %>
  </div>
  <div class="field">
    <%= f.label :stopdate %><br />
    <%= f.text_area :stopdate %>
  </div>
  <div class="field">
    <%= f.label :personA %><br />
    <%= f.text_area :personA %>
  </div>
  <div class="field">
    <%= f.label :personB %><br />
    <%= f.text_area :personB %>
  </div>
  <div class="field">
    <%= f.label :personC %><br />
    <%= f.text_area :personC %>
  </div>
  <div class="field">
    <%= f.label :personD %><br />
    <%= f.text_area :personD %>
  </div>
  <div class="field">
    <%= f.label :personE %><br />
    <%= f.text_area :personE %>
  </div>
  <div class="field">
    <%= f.label :personF %><br />
    <%= f.text_area :personF %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_area :department %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br />
    <%= f.text_area :teacher %>
  </div>
  <div class="field">
    <%= f.label :assistant %><br />
    <%= f.text_area :assistant %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
