<nav class="routes">
  <h1 class="navi-icon"><%= link_to '<span>/</span>'.html_safe, root_path %></h1>
  <ul>
    <li>
      <%= link_to 'works', :class => 'active' do %>works<span></span><% end %>
    </li>
    <li>
      <%= link_to 'about', :class => '' do %>about<span></span><% end %>
    </li>
    <li>
      <%= link_to 'contact', :class => '' do %>contact<span></span><% end %>
    </li>
  </ul>
</nav>

<div class="wrapper">
  <nav class="meny">

    <h1>Works</h1>
    <h2>Check out some of my work</h2>
    <ol class="meny-control"> 
      <% @works.each do |work| %>
        
          <li class="" data-id="<%= work.id %>"><a href="#"><%= work.name %></a></li>

      <% end %>
    </ol>
  </nav>
  <article class="preview">
    <figure class="featured-img">
      
    </figure>

    <header class="featured-info">
      <h1 class="animated"></h1>
      <p class="animated"></p>
      <a class="enter animated" href="#">View Project<span></span></a>
    </header>

  </article>
</div>
<nav class="modal-controls"></nav>
<div class="modal-bg ">

  <article class="modal-panel">
    <figure class="show-img">
    </figure>
      <div class="container">
        <div class="main">
          <header>
            <hgroup class="modal-info">
              <h1></h1>
              <h2></h2>
            </hgroup>
          </header>
          <div class="post">
            <h3></h3>
            <p></p>
          </div>
        </div>
        <aside class="sidebar">

        </aside>
      </div>
  </article>
</div> <!--end of modal-bg-->
