<nav class="routes">
  <h1 class="navi-icon"><%= link_to '<span>/</span>'.html_safe, root_path %></h1>
  <ul>
    <li>
      <%= link_to 'works', :class => 'active' do %>works<span></span><% end %>
    </li>
    <li>
      <%= link_to 'about', :class => '' do %>about<span></span><% end %>
    </li>
    <li>
      <%= link_to 'contact', :class => '' do %>contact<span></span><% end %>
    </li>
  </ul>
</nav>

<div class="wrapper">
  <nav class="meny">

    <h1>Works</h1>
    <h2>Check out some of my work</h2>
    <ol class="meny-control"> 
      <% @works.each do |work| %>
        
          <li class="" data-id="<%= work.id %>"><a href="#"><%= work.name %></a></li>

      <% end %>
    </ol>
  </nav>
  <article class="preview">
    <nav class="mobile-nav">
      <ul>
        <li class="prev-btn">prev</li>
        <li class="next-btn">next</li>
      </ul>
    </nav>
    <figure class="featured-img">
      
    </figure>

    <nav class="desktop-nav">
      <div class="desktop-display">
        <ul>
          <li> 
            <svg  class="project-icon-img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="500px" height="500px" viewBox="0 0 120 121.469" enable-background="new 0 0 120 121.469" xml:space="preserve">
              <path fill="#fff" d="M70.934,42.412H60.623l-0.017,0.009v0c0,0-6.994-0.076-8.812,6.59l-8.181,30.047l7.911-3.4l2.726-9.976
              l10.321,0.045c6.935-0.034,8.735-6.717,8.735-6.717l2.778-9.932C77.902,42.412,70.934,42.412,70.934,42.412z M65.497,62.376
              l-2.593-3.334h-6.84l1.99-7.284c1.131-2.715,4.176-2.715,4.176-2.715h3.502c0,0,3.468,0.033,2.524,3.367L65.497,62.376z"/>
            </svg>
          </li>
        </ul>
      </div>
      <ul class="desktop-controls">
        <li class="prev-btn">&laquo;</li>
        <li class="next-btn">&raquo;</li>
        <li class="project-number">01/04</li>
      </ul> 
      
    </nav>

    <header class="featured-info">
      <h1 class="animated"></h1>
      <p class="animated"></p>      
      <a class="enter animated" href="#">View Project<span></span></a>
    </header>
    
  </article>
</div>
<nav class="modal-controls"></nav>
<div class="modal-bg ">

  <article class="modal-panel">
    <figure class="show-img">
    </figure>
      <div class="container">
        <div class="main">
          <header>
            <hgroup class="modal-info">
              <h1></h1>
              <h2></h2>
            </hgroup>
          </header>
          <div class="post">
            <h3></h3>
            <p></p>
          </div>
        </div>
        <aside class="sidebar">

        </aside>
      </div>
  </article>
</div> <!--end of modal-bg-->
