<nav class="show-control"><span>/</span><%= link_to 'Back', works_path %></nav>
<article>
<figure class="show-img">
	<%= image_tag @work.avatar.url %>
</figure>
	<div class="container">
		<div class="main">
			<header>
				<hgroup class="modal-info">
					<h1><%= @work.name %><h1>
					<h2><%= @work.description %></h2>
				</hgroup>
			</header>

			<div class="post">
				<%=raw @work.post %>
	      	</div>
      	</div>
	    <aside class="sidebar">

	    </aside>
	</div>
</article>